PORT=
LOCAL_DB_PORT=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

API_TOKEN=

SECRET_ENCRYPTION_KEY=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
MAIL_EXPIRY_ALERT_DAYS=
MAIL_ALERT_RECIPIENTS=

SLACK_WEBHOOK_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TTL=