PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=secret_manager

# docker-compose
DB_HOST_DOCKER=db
POSTGRES_DB=secret_manager
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

API_TOKEN=

# 32 bytes hex (64 chars). Exemplo: openssl rand -hex 32
SECRET_ENCRYPTION_KEY=

# Serviço de Email
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=seu@email.com
MAIL_PASS=sua_senha_ou_app_password
MAIL_FROM="Secret Manager <seu@email.com>"
MAIL_EXPIRY_ALERT_DAYS=5
MAIL_ALERT_RECIPIENTS=ops@empresa.com,devs@empresa.com

# Bot Slack (WebHook)
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxxxxxxx/yyyyyyyy/zzzzzzzzzzzzzzz
